.section h2 {
  text-align: center;
}

.section b[data-color="red"] {
  color: var(--red);
}

.section b[data-color="green"] {
  color: var(--green);
}

.section {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, .5);
  background-color: #fff;
  padding: 20px;
  min-height: 350px;
  width: 280px;
  max-width: 350px;
  border-radius: 20px;
}

.section.list {
  min-width: 250px;
  width: 90%;
  max-width: 500px;
  height: 450px;
}
