.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.visibility-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin: 10px 0;
}

.visibility-container__label {
  display: inline;
  font-size: var(--base);
  font-weight: bold;
  padding-left: 5px;
  text-decoration: underline 2px #000;
}

.visibility-container__select {
  outline: none;
  color: #fff;
  border: 3px solid #000;
  border-radius: var(--rounded-sm);
  background-color: #000000cc;
  padding: 5px;
  cursor: pointer;
  transition: none .15s ease-in;
  transition-property: background-color, border-color, color;
}

.visibility-container__select:hover, .visibility-container__select:focus {
  background-color: #fff;
  color: #000;
}

.visibility-description {
  padding: 0 5px;
}

.visibility-description span {
  text-decoration: underline 2px #000;
}
