:root {
  --bg-color: rgba(170, 182, 94, .5);
  --main-color: rgb(238, 224, 26);
  --ligth-main-color: rgba(238, 224, 26, 0.3);
  --dark-main-color: rgb(125, 119, 33);
  --green: rgb(25, 192, 25);
  --red: rgb(211, 27, 20);
  --rounded-md: 10px;
  --rounded-sm: 5px;
  --xl2: 50px;
  --xl: 35px;
  --lg: 25px;
  --md: 20px;
  --base: 16px;
  --sm: 13px;
  --header-heigth: 17vh;
}

@media screen and (min-width: 500px) {
  :root {
    --header-heigth: 13vh;
  }
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url("./rubic.ttf");
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}