.form {
  display: flex;
  column-gap: 5px;
  padding: 10px;
}

.form textarea {
  padding: 8px;
  padding-left: 10px;
  border: 3px solid transparent;
  border-radius: 10px;
  flex-grow: 1;
  width: 50px;
  background-color: rgb(150, 150, 150);
  outline: none;
  transition: none .1s ease-in;
  transition-property: color, background-color, border-color;
  resize: none;
}

.form textarea:hover {
  background-color: rgb(200, 200, 200);
}

.form textarea:focus {
  border-color: var(--green);
  background-color: rgb(200, 200, 200);
}

.form textarea::placeholder {
  color: #000;
  font-weight: bold;
  font-style: italic;
}

.form button {
  border-radius: 50px;
}

.form button {
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: none .15s ease-in;
  transition-property: color, background-color;
}

.form button:hover, .form button:focus {
  color: #fff;
  background-color: var(--green);
}

.form button svg {
  font-size: var(--xl);
}
