.container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - var(--header-heigth));
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  position: relative;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 5px;
  background-color: var(--ligth-main-color);
}

@media screen and (min-width: 600px) {
  .main__header {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .main__h1 {
    text-align: center;
    margin: 0;
    font-size: var(--lg);
  }
  
  .main__btn {
    display: none;
  }
}

.close-btn-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.chatId-li {
  position: relative;
  display: flex;
  background-color: #fff;
  border: 3px solid transparent;
}

.chatId-li:hover, .chatId-li:focus {
  border-color: var(--green);
}

.chatId-li button {
  position: relative;
  text-align: left;
  overflow: auto;
  width: 150px;
  outline: none;
  border: none;
  background-color: #fff;
}

.chatId-li .icon, .chatId-li .icon:hover {
  position: absolute;
  z-index: 20;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--green);
  top: -8px;
  right: -8px;
  margin: auto;
}


