.container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: calc(100vh - var(--header-heigth));
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  position: relative;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 5px;
  background-color: var(--ligth-main-color);
}

@media screen and (min-width: 600px) {
  .main__header {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .main__h1 {
    text-align: center;
    margin: 0;
    font-size: var(--lg);
  }
  
  .main__btn {
    display: none;
  }
}

.close-btn-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.chatId-li {
  display: flex;
  max-width: 150px;
  overflow-x: auto;
  overflow-y: hidden;
}