.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--red);
  border: none;
  color: #fff;
  line-height: 2;
  border-radius: 10px;
  cursor: pointer;
  transition: none .2s ease-in;
  transition-property: background-color, color;
}

.btn span {
  display: contents;
  font-size: 25px;
}

.btn:focus {
  border-color: var(--red);
  background-color: var(--red);
  outline: 4px solid #000000;
  color: #fff;
}
