.main {
  display: flex;
  flex-direction: column;
  background-color: var(--ligth-main-color);
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 20rem;
  width: 100%;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
}

.hero__bg-img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: .4;
  height: 100%;
  width: 100%;
}

.hero__article {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #fff;
  padding: 30px;
  background-color: #000;
  border-radius: 10px;
  width: 80%;
}

.hero__h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.hero__p {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .hero__h1 {
    font-size: 2rem;
  }
  
  .hero__p {
    font-size: 1.2rem;
  }
}

.hero__img {
  position: relative;
  z-index: 10;
  height: auto;
  width: 80%;
  max-width: 500px;
  object-fit: contain;
}

@media screen and (min-width: 800px) {
  .hero {
    height: 95vh;
  }

  .hero__img {
    height: 300px;
    width: 400px;
  }

  .hero__article {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #fff;
    padding: 30px;
    background-color: #000;
    border-radius: 10px;
    width: 50%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  row-gap: 20px;
  padding: 50px 0px;
  min-height: 20rem;
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 90%;
  padding: 0 10px;
}

.about__h2 {
  font-size: 30px;
  padding: 5px;
  text-decoration: underline;
  text-transform: uppercase;
}

.about__h4 {
  font-weight: lighter;
  font-style: italic;
  color: rgb(120, 120, 120);
}

.about__img {
  min-height: 250px;
  height: 50%;
  min-width: 250px;
  width: 90%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40%;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .about {
    flex-direction: row;
    min-height: 30rem;
    padding: 50px 20px;
    height: 100vh;
  }

  .about__article {
    flex-grow: 1;
    min-width: none;
    max-width: 50%;
  }

  .about__img {
    flex-grow: 1;
    min-height: auto;
    min-width: auto;
    height: 70%;
    min-width: 100px;
    object-fit: cover;
    width: 49%;
  }
}



.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 50vh;
  padding: 80px 0;
  background-color: var(--bg-color);
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0 100%);
}

.features__h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline 3px solid #000;
}

.features__conatiner-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  padding: 0 20px;
  gap: 30px;
  justify-content: center;
}
