.btn {
  display: flex;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: #000;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid var(--dark-main-color);
  transition: none ease-in .2s;
  transition-property: color, background-color, border-color, opacity;
}

.btn:hover, .btn:focus {
  border-color: transparent;
  background-color: #000;
  color: #ffffff;
}

.btn.hidden {
  opacity: 0;
}

@media screen and (min-width: 800px) {
  .btn {
    display: none;
  }
}
