.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--dark-main-color);
  font-size: 20px;
  color: #000;
  padding: 10px;
  border-radius: 50%;
  transition: none .2s ease-in;
  transition-property: border-color, background-color, color;
}

.btn:not(.active):hover, .btn:not(.active):focus {
  color: #ffffff;
  background-color: var(--dark-main-color);
}

.btn:focus {
  border-color: var(--green);
}

.btn.active {
  border-color: var(--red);
}

.btn.active:hover, .btn.active:focus {
  color: #ffffff;
  background-color: var(--red);
}

.btn.active:focus {
  border-color: var(--green);
}

.ul {
  position: absolute;
  display: flex;
  opacity: 0;
  width: max-content;
  gap: 10px;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  z-index: 1000;
  top: 4rem;
  margin: auto;
  pointer-events: none;
  transform: translateY(-10px);
  list-style: none;
  box-shadow: 1px 1px 20px -3px rgb(0, 0, 0);
  background-color: var(--main-color);
}

.ul.active {
  pointer-events: all;
  animation: appear .2s ease-in forwards;
}

.ul.inactive {
  pointer-events: none;
  animation: hide .2s ease-in forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.ul.left {
  right: 0;
}

.ul::before {
  content: "";
  position: absolute;
  top: -8px;
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: var(--main-color);
}

.ul.left::before {
  right: 7px;
}

.ul.center::before {
  right: 0;
  left: 0;
}

.ul > li {
  display: inline-flex;
  width: max-content;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: none .2s ease-in;
  transition-property: cursor, background-color;
}

.ul > li:first-child {
  text-align: center;
  align-self: center;
  font-weight: bold;
  margin-bottom: 3px;
  text-decoration: underline 2px #000;
  cursor: auto;
}

.ul > li:first-child:focus {
  outline: 2px solid #000;
}


.ul > li > * {
  padding: 5px;
  cursor: pointer;
}

.ul > li > *:hover, .ul > li > *:focus  {
  color: #000;
  background-color: #ffffff;
}

.ul > li svg {
  font-size: 20px;
}
