.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0 50px;
  width: 100%;
}

.h1 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .h1 {
    font-size: 30px;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 95%;
  max-width: 800px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: var(--grey);
}

.section__h2 {
  text-align: center;
  margin: auto 0;
  padding-bottom: 50px;
}
