.header {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  height: var(--header-heigth);
  min-height: 5rem;
  padding: 0 15px;
  background-color: var(--main-color);
}

.header__title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.header__link-home {
  display: inline;
  text-decoration: none;
}

.header__link-home:focus {
  outline: 4px solid var(--green);
}

.header__container-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

