.messages {
  position: relative;
  flex-grow: 1;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 15px;
  width: 100vw;
  overflow-y: auto;
}

.messages:focus {
  outline: 5px solid #000000;
}

@media screen and (min-width: 800px) {
  .messages {
    width: 70vw;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.messages__h2 {
  display: inline-block;
  text-align: center;
}