.messages {
  position: relative;
  flex-grow: 1;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 15px;
  overflow-y: auto;
}

.center {
  align-items: center;
  justify-content: center;
}

.messages__h2 {
  display: inline-block;
  text-align: center;
}